$font-family-default: Helvetica, sans-serif;
$font-size-default: 1.2em;
$font-size-title: 1.5em;

$line-height: 1.3em;

$color-text: blue;
$color-background: #cecece;
$color-secondary: green;
$color-primary: red;
$white: #fff;
$black: #000;

$container: 1120px;

$breakpoint-small: max-width 945px;
$breakpoint-medium: 950px 1200px;
$breakpoint-large: 1300px;