//@import "../node_modules/susy/sass/_susy";

@import "~susy/sass/susy";
@import "~breakpoint-sass";
@import "normalize";
@import "reset";
@import "variables";

// Susy
$susy: (
        columns: 12,
        gutters: 1/2,
        math: fluid,
        gutter-position: outside,
);

html,body{
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height;
  color: $color-text;
  background-color: $color-background;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.container{
  @include container($container);
  background-color: $white;
}

.page-content{
  padding: 3%;
  margin: 0;
}

// ***********************************
// МАЛЕНЬКИЕ УСТРОЙСТВА
// ***********************************
@include breakpoint($breakpoint-small) {
  h1{
    color: $color-secondary;
    font-size: $font-size-title;
  }
  h2{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
  }

  // Заголовок сайта
  header{
    @include span(12);
    background-color: $color-secondary;
    padding: 0 1%;
    color: $white;
    h2{
      @include span(12);
      font-size: 1.5em;
      padding:0 0.4em;
    }
    nav{
      @include span(12);
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding-left: 0.1em;
      li{
        display: inline-block;
        a{
          font-size: 1em;
          display: block;
          padding: 0.5em;
        }
      }
    }
    a{
      color: $white;
      &:hover{
        color: $black;
      }
    }
  }
  // Последние посты
  .latest-posts{
    @include span(12);

    article{
      border: 1px solid $color-background;
      padding: 0.5em;
      margin-bottom: 1em;
      p{
        font-size: 0.9em;
      }
      a{
        color: darken($color-background, 25%);
      }
      footer{
        font-size: 0.9em;
        color: #333;
      }
    }
  }
  // Популярные посты
  .popular-posts{
    @include span(12);
    article{
      background-color: lighten($color-background, 5%);
      border: 1px solid $color-background;
      padding: 0.5em;
      margin-bottom: 1em;
      a{
        color: darken($color-background, 20%);;
      }
    }
  }
  // Подвал
  .footer{
    @include span(12);
    background-color: $color-secondary;
    font-size: 1em;
    padding: 0.5em 1%;
    color: $white;
    a{
      color: lighten($color-primary, 22%);
      &:hover{
        color: $black;
      }
    }
  }
}

// ***********************************
// СРЕДНИЕ УСТРОЙСТВА
// ***********************************
@include breakpoint($breakpoint-medium){

  // Здесь мы просто изменим что необходимо модифицировать,
  // потому что предыдущий стиль применяется автоматически

  // Заголовок сайта
  header{
    @include span(12);
    background-color: $color-primary;
    h2{
      @include span(3);
      font-size: 3em;
    }
    nav{
      @include span(8);
    }
    ul{
      text-align: right;
      margin-top: 0.4em;
      li{
        a{
          font-size: 1.7em;
        }
      }
    }
  }

  // Последние посты
  .latest-posts{
    @include span(6);
    article{
      h2{
        font-size: 1.8em;
      }
      border: 1px solid $color-background;
      padding: 0.5em;
      margin-bottom: 2em;
      clear: both;
      p{
        font-size: $font-size-default+50;
      }
      a{
        color: darken($color-background, 25%);
      }
      footer{
        font-size: 1.3em;
      }
    }
  }

  // Популярные посты
  .popular-posts{
    @include span(6);
    padding-left: 1em;
    article{
      h2{
        font-size: 1.8em;
      }
      background-color: lighten($color-background, 2%);
      border: 1px solid transparent;
      padding: 0.5em;
      margin-bottom: 1em;
      p{
        font-size: $font-size-default+50;
      }
      a{
        color: darken($color-background, 20%);;
      }
      footer{
        font-size: 1.3em;
      }
    }
  }

  // Подвал
  .footer{
    @include span(12);
    background-color: $color-primary;
    font-size: 1.5em;
  }
}

// ***********************************
// БОЛЬШИЕ УСТРОЙСТВА
// ***********************************
@include breakpoint($breakpoint-large){

  // Здесь мы просто изменим что необходимо модифицировать,
  // потому что предыдущий стиль применяется автоматически

  // Заголовок сайта
  header{
    @include span(12);
    background-color: lighten($color-primary, 15%);
    padding: 0;
  }
  // Последние посты
  .latest-posts{
    // оставим пустым, это значит что будет применяться предыдущий стиль
  }
  // Популярные посты
  .popular-posts{
    @include span(6);
    padding-left: 1em;
    article{
      h2{
        font-size: 1.8em;
      }
      background-color: lighten($color-background, 2%);
      border: 1px solid transparent;
      padding: 0.5em;
      margin-bottom: 1em;
      p{
        font-size: $font-size-default+50;
      }
      a{
        color: darken($color-background, 20%);;
      }
      footer{
        font-size: 1.3em;
      }
    }
  }
  // Подвал
  .footer{
    padding: 0;
    background-color: lighten($color-primary, 15%);
  }
}